@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto+Mono:wght@300;400;500;700&display=swap");

/* ==================== Variables ==================== */
:root {
  --color-light: #2c2d31;
  --color-dark: #242529;
  --color-accent: #5bcb8b;
  --color-primary-text: #ffffff;
  --color-secondary-text: #78797d;
  --color-card: #2d3037;
  --transition: 200ms;
}

/* ==================== Reset Styles ==================== */
body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-light);
  color: var(--color-primary-text);
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  transition: all ease-in-out var(--transition);
}

p {
  color: var(--color-secondary-text);
  margin-bottom: 3.125rem;
}

/* ==================== Global Styles ==================== */
.s1 {
  background: var(--color-light);
}

.s2 {
  background: var(--color-dark);
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 6.25rem 0;
}

#technologies .container,
#journey .container {
  padding-top: 1.875rem;
}

.wrapper {
  padding: 0 2rem;
}

.heading h5 {
  margin-bottom: 3rem;
}
.heading h5 span {
  color: black;
  background: var(--color-accent);
  padding: 3px;
}

/* ==================== Home ==================== */
#home {
  background-color: #040d21;
}

#home img {
  width: 100%;
  position: absolute;
  opacity: 0.2;
}

.home-container {
  position: relative;
}

.social-links {
  background-color: var(--color-dark);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.social-links li a:hover {
  color: var(--color-accent);
}

/* ==================== Technologies ==================== */
.technologies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.technologies svg {
  width: 80px;
  height: 80px;
  margin: 10px;
  transition: all ease-in-out var(--transition);
}

.technologies svg:hover {
  filter: drop-shadow(-12px 5px 22px var(--color-accent));
}

/* ==================== Journey ==================== */
.journey:not(:last-child) {
  margin-bottom: 3.125rem;
}

.journey-left img {
  display: none;
}

.journey-right h4 {
  color: var(--color-secondary-text);
}

.journey-right h3 {
  font-size: 1.2rem;
  color: var(--color-accent);
}

.journey-right p {
  font-size: 1rem;
  color: var(--color-primary-text);
  opacity: 0.7;
}

.journey-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.125rem;
  margin-bottom: 10px;
}

.journey-title img {
  width: 6.25rem;
}

/* ==================== Contact ==================== */
.contact h4 {
  color: var(--color-secondary-text);
}

.contact a {
  color: var(--color-primary-text);
  opacity: 0.7;
}

/* ==================== Media Queries ==================== */
@media screen and (min-width: 540px) {
  body {
    font-size: 18px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6.25rem 3.125rem;
  }
}

@media screen and (min-width: 999px) {
  .journey {
    display: flex;
    align-items: center;
    gap: 3.125rem;
  }

  .journey:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .journey:nth-child(2n) .journey-right {
    text-align: right;
  }

  .journey-left img {
    display: block;
    width: 23.125rem;
  }

  .journey-title {
    display: unset;
  }

  .journey-title img {
    display: none;
  }
}
