@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto+Mono:wght@300;400;500;700&display=swap");
/* ==================== Variables ==================== */
:root {
  --color-light: #2c2d31;
  --color-dark: #242529;
  --color-accent: #5bcb8b;
  --color-primary-text: #ffffff;
  --color-secondary-text: #78797d;
  --color-card: #2d3037;
  --transition: 200ms;
}

/* ==================== Reset Styles ==================== */
body,
html,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--color-light);
  color: var(--color-primary-text);
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  -webkit-transition: all ease-in-out var(--transition);
  transition: all ease-in-out var(--transition);
}

p {
  color: var(--color-secondary-text);
  margin-bottom: 3.125rem;
}

/* ==================== Global Styles ==================== */
.s1 {
  background: var(--color-light);
}

.s2 {
  background: var(--color-dark);
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 6.25rem 0;
}

#technologies .container,
#journey .container {
  padding-top: 1.875rem;
}

.wrapper {
  padding: 0 2rem;
}

.heading h5 {
  margin-bottom: 3rem;
}

.heading h5 span {
  color: black;
  background: var(--color-accent);
  padding: 3px;
}

/* ==================== Home ==================== */
#home {
  background-color: #040d21;
}

#home img {
  width: 100%;
  position: absolute;
  opacity: 0.2;
}

.home-container {
  position: relative;
}

.social-links {
  background-color: var(--color-dark);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.social-links li a:hover {
  color: var(--color-accent);
}

/* ==================== Technologies ==================== */
.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technologies svg {
  width: 80px;
  height: 80px;
  margin: 10px;
  -webkit-transition: all ease-in-out var(--transition);
  transition: all ease-in-out var(--transition);
}

.technologies svg:hover {
  -webkit-filter: drop-shadow(-12px 5px 22px var(--color-accent));
          filter: drop-shadow(-12px 5px 22px var(--color-accent));
}

/* ==================== Journey ==================== */
.journey:not(:last-child) {
  margin-bottom: 3.125rem;
}

.journey-left img {
  display: none;
}

.journey-right h4 {
  color: var(--color-secondary-text);
}

.journey-right h3 {
  font-size: 1.2rem;
  color: var(--color-accent);
}

.journey-right p {
  font-size: 1rem;
  color: var(--color-primary-text);
  opacity: 0.7;
}

.journey-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
  margin-bottom: 10px;
}

.journey-title img {
  width: 6.25rem;
}

.projects-wrapper h3 {
  margin-bottom: 1rem;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.project {
  width: 100%;
  max-width: 500px;
  background: #2d3037;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -12px 5px 22px 3px rgba(0, 0, 0, 0.2);
          box-shadow: -12px 5px 22px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.project:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.project:not(:last-child) {
  margin-bottom: 30px;
}

.project .descreption {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .descreption .title h4 {
  color: #5bcb8b;
}

.project .descreption .title p {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.project .descreption .title a span {
  font-size: 0.9rem;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background: #242529;
  color: #ffffff;
}

.project .descreption .tech p {
  text-align: center;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 5px 0;
  background: #242529;
}

.project img {
  width: 100%;
  max-width: 500px;
  border-radius: 0 0 10px 10px;
}

/* ==================== Contact ==================== */
.contact h4 {
  color: var(--color-secondary-text);
}

.contact a {
  color: var(--color-primary-text);
  opacity: 0.7;
}

/* ==================== Media Queries ==================== */
@media screen and (min-width: 540px) {
  body {
    font-size: 18px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6.25rem 3.125rem;
  }
}

@media screen and (min-width: 767px) {
  .navbar {
    padding: 2rem 7rem;
  }
  #home .container {
    padding-top: 170px;
  }
  .projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projects-left .heading {
    margin: 130px 0 130px 0;
    text-align: center;
  }
}

@media screen and (min-width: 999px) {
  .journey {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.125rem;
  }
  .journey:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .journey:nth-child(2n) .journey-right {
    text-align: right;
  }
  .journey-left img {
    display: block;
    width: 23.125rem;
  }
  .journey-title {
    display: unset;
  }
  .journey-title img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */